html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('assets/fonts/SourceCodePro.ttf');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('assets/fonts/Coolvetica.otf');
}

@font-face {
    font-family: 'Extenda';
    src: url('assets/fonts/Extenda-40-Hecto-trial.ttf');
}

@font-face {
    font-family: 'Satoshi';
    src: url('assets/fonts/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'General Sans';
    src: url('assets/fonts/GeneralSans-Variable.ttf');
}

.full-screen {
    height: calc(var(--vh, 1vh) * 100);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class^="col-"] {
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-1  { flex: 0 0 8.33%;  max-width: 8.33%;  }
.col-2  { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3  { flex: 0 0 25%;    max-width: 25%;    }
.col-4  { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5  { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6  { flex: 0 0 50%;    max-width: 50%;    }
.col-7  { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8  { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9  { flex: 0 0 75%;    max-width: 75%;    }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%;   max-width: 100%;   }

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.text-highlight {
    color: #fff;
    background-color: #581F2B;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Page 1 */

.landing {
    box-sizing: border-box;
    background-color: #581F2B;
    color: #fff;
    padding: 14px 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Coolvetica';
    color: #fff;
    height: 54px;
}

.header h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

.header img {
    width: 33px;
    height: 33px;
}

.landing-content {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
}

.display-image {
    position: relative;
    width: 90vw;
    max-width: 354px;
    height: auto;
    margin: 1rem 0;
}

#Display {
    position: absolute;
    width: 354px;
    height: auto;
}

#Toa {
    position: absolute;
    width: 352px;
    height: auto;
    margin-top: 10rem;
}

/* #Display {
    width: 90vw;
    max-width: 354px;
    height: auto;
    aspect-ratio: 354 / 205;
    position: absolute;
}

#Toa {
    width: 90vw;
    max-width: 352px;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-bottom: 1.5rem;
    position: absolute;
} */

.scroll {
    font-family: 'SourceCodePro';
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin-top: auto;
    margin-bottom: 54px;
}

.scroll img {
    margin-top: 22px;
    width: 26.7px;
    height: 28.9px;
}

/* Page 2 */

.about {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 14px 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    font-family: 'General Sans';
    font-size: 1.5rem;
    font-weight: 600;
    color: #581F2B;
    margin-bottom: 21px;
    text-align: center;
}

.about p {
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.about-content {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#LogoLabkom {
    width: 22vw;
    max-width: 90px;
    height: auto;
    margin: 2rem auto 1rem auto;
    display: block;
}

#FotoAbout {
    width: 90vw;
    max-width: 351px;
    height: auto;
    aspect-ratio: 351 / 315;
    margin: 0 auto 1.5rem auto;
    display: block;
}

.about-text {
    width: 100%;
    max-width: 335px;
    margin: 2rem auto 0 auto;
    height: auto;
    position: static;
}

.about .scroll {
    margin-bottom: 40px;
}