html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('assets/fonts/SourceCodePro.ttf');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('assets/fonts/Coolvetica Rg.ttf');
}

@font-face {
    font-family: 'Extenda';
    src: url('assets/fonts/Extenda-40-Hecto-trial.ttf');
}

@font-face {
    font-family: 'Satoshi';
    src: url('assets/fonts/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'General Sans';
    src: url('assets/fonts/GeneralSans-Variable.ttf');
}

.container {
  width: 100%;
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class^="col-"] {
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-1  { flex: 0 0 8.33%;  max-width: 8.33%;  }
.col-2  { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3  { flex: 0 0 25%;    max-width: 25%;    }
.col-4  { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5  { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6  { flex: 0 0 50%;    max-width: 50%;    }
.col-7  { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8  { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9  { flex: 0 0 75%;    max-width: 75%;    }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%;   max-width: 100%;   }

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.text-highlight {
    color: #fff;
    background-color: #581F2B;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Page 1 */

.landing {
    box-sizing: border-box;
    background-color: #581F2B;
    color: #fff;
    height: 100%;
    padding: 14px 29px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Coolvetica';
    color: #fff;
    height: 54px;
}

.header h1 {
    font-size: 19px;
    font-weight: 400;
}

.header img {
    width: 33px;
    height: 33px;
}

#Display {
    width: 354px;
    height: 205px;
    position: absolute;
    top: 117px;
    left: 20px;
}

#Toa {
    width: 352px;
    height: 352px;
    position: absolute;
    top: 293px;
    left: 20px;
}

.scroll {
    font-family: 'SourceCodePro';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 54px;
    width: 100%;
    box-sizing: border-box;
    /* Optional: center content */
    display: block;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}

.scroll img {
    margin-top: 22px;
    width: 26.7px;
    height: 28.9px;
}

/* Page 2 */

.about {
    box-sizing: border-box;
    background-color: #FFFFFF;
    height: 100%;
    padding: 14px 29px;
    position: relative;
}

.about h1 {
    font-family: 'General Sans';
    font-size: 24px;
    font-weight: 600;
    color: #581F2B;
    margin-bottom: 21px;
}

.about p {
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 15px;
}

.about-text {
    position: absolute;
    top: 450px;
    left: 29px;
    width: 335px;
    height: 271px;
}

#LogoLabkom {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 39px;
    left: 152px;
}

#FotoAbout {
    width: 351px;
    height: 315px;
    position: absolute;
    top: 140px;
    left: 14px;
}

.about .scroll {
    bottom: 40px;
}