html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('assets/fonts/SourceCodePro.ttf');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('assets/fonts/Coolvetica.otf');
}

@font-face {
    font-family: 'Extenda';
    src: url('assets/fonts/Extenda-40-Hecto-trial.ttf');
}

@font-face {
    font-family: 'Satoshi';
    src: url('assets/fonts/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'General Sans';
    src: url('assets/fonts/GeneralSans-Variable.ttf');
}

@font-face {
    font-family: 'Cabinet';
    src: url('assets/fonts/CabinetGrotesk-Variable.ttf');
}

.full-screen {
    height: 100dvh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class^="col-"] {
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-1  { flex: 0 0 8.33%;  max-width: 8.33%;  }
.col-2  { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3  { flex: 0 0 25%;    max-width: 25%;    }
.col-4  { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5  { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6  { flex: 0 0 50%;    max-width: 50%;    }
.col-7  { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8  { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9  { flex: 0 0 75%;    max-width: 75%;    }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%;   max-width: 100%;   }

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.text-highlight {
    color: #fff;
    background-color: #581F2B;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Page 1 */

.landing {
    box-sizing: border-box;
    background-color: #581F2B;
    color: #fff;
    padding: 14px 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    max-width: 500px;
    height: 5dvh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Coolvetica';
    color: #fff;
}

.header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.header img {
    width: 33px;
    height: 33px;
}

.landing-content {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
}

.display-image {
    height: 70dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    position: relative;
    width: 90vw;
    max-width: 354px;
    height: 518px;
    display: flex;
    justify-content: center;
}

#Display {
    position: absolute;
    width: 354px;
    height: auto;
}

#Toa {
    position: absolute;
    width: 320px;
    height: auto;
    margin-top: 10rem;
}

@media (max-height: 700px) {

    .image-wrapper {
        width: 90vw;
        max-width: 354px;
        height: 445px;
    }

    #Toa {
        width: 90vw;
        max-width: 300px;
        height: auto;
        margin-top: 10rem;
    }
}

.scroll {
    font-family: 'SourceCodePro';
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.scroll img {
    margin-top: 15px;
    width: 26.7px;
    height: 28.9px;
}

/* Page 2 */

.about {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 34px 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    font-family: 'General Sans';
    font-size: 1.5rem;
    font-weight: 600;
    color: #581F2B;
    margin-bottom: 10px;
}

.about p {
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 1rem;
}

#FotoAbout {
    width: 90vw;
    max-width: 336px;
    height: 413px;
    aspect-ratio: 336 / 335;
    margin: 0 auto 1.5rem auto;
    display: block;
}

.about-text {
    width: 100%;
    max-width: 335px;
    margin: 0 auto 0 auto;
    height: auto;
    position: static;
}

.about .scroll {
    margin-bottom: 40px;
}

/* Page 3 */

.masa {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 34px 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.masa .title {
    width: 100%;
    max-width: 335px;
    margin: 0 auto 0 auto;
    height: auto;
    position: static;
    line-height: 1;
}

.masa .title h1 {
    font-family: 'Cabinet';
    font-size: 50px;
    font-weight: 800;
    color: #581F2B;
    margin: 0;
    padding: 0;
}

.masa .title h2 {
    font-family: 'General Sans';
    font-size: 35px;
    font-weight: 400;
    color: #9E9999;
    margin: 0;
    padding: 0;
}

.title .underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.title .highlight {
    color: white;
    background-color: #9E9999;
    padding: 0 5px;
}


.timeline {
    max-width: 1000px;
    margin: 50px 0;
    padding: 0;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background-color: #ccc;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-item {
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.timeline-dot {
    position: absolute;
    left: 50%;
    top: 50%; /* vertical center of item */
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #581F2B;
    border: 3px solid #ccc; /* circle border */
    border-radius: 50%;
    z-index: 3; /* above center line */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content.image-left .timeline-image {
    order: 1;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 20px;
}

.content.image-left .timeline-text {
    order: 2;
    text-align: left;
}

.content.image-right .timeline-image {
    order: 2;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-left: 20px;
}

.content.image-right .timeline-text {
    order: 1;
    text-align: right;
}

.timeline-image img {
    width: 148;
    height: 161px;
}

.timeline-text {
    width: 45%;
    padding: 20px;
}

.timeline-text h3 {
    font-family: 'General Sans';
    font-size: 24px;
    font-weight: 600;
    color: #581F2B;
}

.timeline-text p {
    font-family: 'Satoshi';
    font-size: 12px;
    font-weight: 400;
    color: #9E9999;
}